@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@400;700&family=Poppins:wght@400;500&family=Quicksand:wght@500&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

.app {
    padding: 0px;
    margin: 0px;

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}